@import "tailwindcss";

@theme {
  --color-sirotu-red: #b91c1c;
  --color-sirotu-dark: #0f172a;
}

html {
  scroll-behavior: smooth;
  color-scheme: light;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  color: #111827;
  background: #f9fafb;
}